/* Set the font to rubik */
* {
    font-family: 'Rubik';
    padding-top: 0.1px;
}

.promoText {
    padding: 50px 50px;
}
#title {
    color: var(--header-text-color);
}
#text {
    color: var(--content-text-color);
}

/* Standard resets and theme colors */
body {
    margin: 0;
    --mdc-typography-font-family: 'Rubik';
    --header-text-color: #eee;
    --content-text-color: #ccc;
}

.grid {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 0;
    background-image: linear-gradient(to top,#f43b47 0,#453a94 100%);
}
@media (max-width: 599px) {
    .grid {
        grid-template-columns: 1fr;
    }
    .imgHolder img {
        width: 100%;
        height: auto;
    }
}

.display-block {
    display: block;
}
.display-inline-block {
    display: inline-block;
}

.invisible {
  opacity: 0;
}

.animation {
    transition: opacity 500ms ease-out;
}

img {
    height: 100vh;
    max-width: 50vw
    width: auto;
}

.store-button {
    --mdc-theme-primary: #333
}