html {
    height: 100%;
}

body {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin: auto;
    background-color: white;
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    line-height: 1.65;
    color: #333;
    font-size: 20px;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .05;
    z-index: -1;
    background-size: 200px 200px;
    /* background: url("https://static.thenounproject.com/png/2590971-200.png") repeat center center; */
}

.header {
    /*background-image: radial-gradient(ellipse closest-side, rgba(15, 14, 22, 0.5), #100e17),
    url("https://source.unsplash.com/N09f4fB92hI/1800x900");
    background-size: cover;
    background-position: top center;*/
    margin-top: 48px; /* Compensate for MDC header area */
    background-color: #000;
    padding: 3rem 2rem 1rem;
}
.header::before { /* Header background */
    content: "";
    position: absolute;
    top: 48px;
    right: 0;
    width: 75%;
    height: 16rem;
    background-image:
            radial-gradient(ellipse closest-side, rgba(15, 14, 22, 0.3), #100e17),
            url("https://source.unsplash.com/N09f4fB92hI/1800x900");
    background-size: cover;
    background-repeat: no-repeat;
}
.header .title-holder-l {
    display: grid;
    grid-template-columns: minmax(200px,1fr) 300px;
    grid-gap: 4rem;
    margin: 0 auto;
}
.header .title-holder-l .title-inside {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
}
.header .title-holder-l .title-inside h1 {
    font-size: 3rem;
    margin-top: 0;
    color: #fff;
}
.header .title-holder-l .title-inside p {
    margin: 0;
    color: #aaa;
}


.wrapper {
    margin: 0 auto;
    display: grid;
    padding: 10px 10px 10px 0;
    grid-template-columns: 300px auto;
    grid-gap: 30px;
    -webkit-box-align: start;
    align-items: flex-start;
}

.is-active {
    font-weight: 700;
    color: #bb2205;
}

/* Ensure correct text color for contents */
li a {
    color: var(--subtitle-text-color, #FFF);
    transition: color 750ms;
}

/* And from here onwards I attempt to reproduce tailwind.css's behaviour */
.top-0 {
    top: 0;
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
}
.h-64 {
    height: 16rem;
}
.pt-16 {
    padding-top: 4rem;
}
.pl-4 {
    padding-left: 1rem;
}
.ml-8 {
    margin-left: 2rem;
}
.mt-32 {
    margin-top: 8rem;
}
.max-w-2xl {
    max-width: 42rem;
}
.w-screen {
    width: 100vw;
}
/* Fix lists */
ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
/* Styles for various elements */
a {
    color: inherit;
    text-decoration: inherit;
    background-color: transparent;
}
/* Tailwind all elements styles */
*, ::after, ::before {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e2e8f0;
}